

body {

    font-family: Arial, helvetica, sans-serif;

    margin-bottom: 200px;

    background-image: url('../Images/background.jpg');

    background-position: center;

    background-size: cover;

    color: black;
}


    .headerContainer {

      text-align: center;

      margin: 105px 0px;








    }


    #navbar li {



          list-style: none;

          display: inline;
   }


   #navbar a {




         border: 1px black solid;

         border-radius: 4px;

         margin: 5px 5px;

         padding: 4px 8px;

         background: white;

         border-shadow: 2px 2px black;


   }




    .container {

      width: 80%;




    }





a {

  text-decoration: none;

  color: black;
}


a:hover {

color: red;



}




a:visited {


  color: purple;


}

.container {


    width: 80%;

    margin: auto;


}




.button {


  background-color: white

  color: black;

  border-color: white;

  width: 15%;

}



.cricketCountriesInfoContainer {

  float: left;

  width: 50%;

  border: 1px #555 solid ;

  padding: 10px;

  border-radius: 8px;

  box-sizing: border-box;

  background: lightgrey;


}


.clr {


  clear: both;
}


.quotesList {

background: lightgrey;
border: 1px black solid;


list-style: none;

margin: 10px 0px;


padding: 10px;

border-radius: 8px;





}



.myForm {

background: lightgrey;

      padding: 10px;

      border: 1px black solid;


      border-radius: 8px;

      box-shadow: 2px -2px 2px grey, -1px 2px 2px black;


}




.formElement label {


  display: block;

  padding: 5px;
}




.formElement input[type = "text"]  {

padding: 8px 0px ;

width: 100%;


margin: 5px 0px;



}





.formElement textarea {



  width: 100%;
}



.formElement input[type = "submit"] {


  padding: 4px;

  background-color: white;


  border-radius: 6px;

}
